@media (max-width:1200px){
    :root{
        --text-xl:4rem;
        --text-lg:2.5rem;
        --text-stats:3rem;
    }
}
@media (max-width:968px){
    .products__grid{
        grid-template-columns: repeat(2,1fr);
    }
    .header__content{
        padding: var(--spacing-lg) var(--spacing-md);
    }
    .header_subtitle{
        max-width: 90%;
    }
}
@media (max-width:768px){
    :root{
        --text-xl:3rem;
        --text-lg:2rem;
        --text-stats:3rem;
        --spacing-xl:4rem;
        --spacing-lg:3rem;
    }
    .header{
        flex-direction: column;
    }
    .header__image{
        min-height: 50vh;
    }
    .header_subtitle{
        max-width: 100%;
    }
    .about{
        padding: var(--text-xl) var(--spacing-md);
    }
    .stats{
        flex-direction: column;
        gap: var(--spacing-md);
    }
    .products__header{
        flex-direction: column;
        gap: var(--spacing-md);
        text-align: center;
    }
    .products__grid{
        grid-template-columns: 1fr;
        gap: var(--spacing-md);
    }
    .products__filters{
        flex-wrap: wrap;
        justify-content: center;
    }
    .stories_header{
        flex-direction: column;
        gap: var(--spacing-md);
    }
    .stories__grid{
        grid-template-columns: 1fr;

    }
    .social-link{
        flex-wrap: wrap;
        justify-content: center;
    }

}
@media (max-width:500px){
    .footer__container{
        flex-direction: column;
    }
}